<div class="insurance_demo">
<div class="header">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="logo">
                <img src="client/app/assets/img/logo.png">
            </div>

        </div>
        <div class="col-md-4">
            <div class="firstRow">Insurance Demo</div>
        </div>


    </div>
</div>

<form name="mainForm" class="body form-horizontal insurance-form">

    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div class="well" data-ng-include="'client/app/components/quote/view/applicant_view.html'"></div>
            <div class="well" data-ng-include="'client/app/components/quote/view/property_view.html'"></div>

        </div>

        <div class="col-md-3">

            <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
                <div class="well">
                    <div class="row group-heading">
                        <div class="col-md-12">Available Tasks</div>
                    </div>

                    <div class="row group-body">

                        <div class="col-md-6">

                            <div style="margin-bottom: 5px;width: 80px;">
                                <input class="btn btn-primary" type="button" value="Clear"
                                       ng-click="resetQuote()"/>
                            </div>

                        </div>

                        <div class="col-md-6">

                            <input type="button" id="quote" class="btn btn-success"
                                    ng-disabled="quoteStatus == QuoteStatus.FORM_INCOMPLETE"
                                    value="Calculate Quote"
                                    ng-click="quoteCalculate()"/>


                        </div>
                    </div>

                    <div class="row" ng-if="newQuote && newQuote.id != null && newQuote.status != undefined ">
                        <div class="col-md-12">

                            <div class="row group-heading">
                                <div class="col-md-12">QUOTE</div>
                            </div>

                            <div class="row group-body">

                                <div class="col-md-12">

                                    <div >
                                        Quote Id : {{newQuote.id}}<br>
                                        Quote Amount : {{newQuote.amount}}<br>
                                        Quote Risk : {{newQuote.riskRate}}<br>
                                        Quote Status : {{newQuote.status}}
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="group-heading">Validation Messages</div>

                    <div class="panel-body">


                        <div class="panel panel-danger" ng-if="warningQuoteMessages > 0">
                            <div class="group-heading">Warning</div>
                            <div class="group-body">
                                <ul class="list-group">

                                    <li class="list-group-item" ng-repeat="qu in warningQuoteMessages ">
                                        {{qu.message}}
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="panel panel-danger" ng-if="infoQuoteMessages.length > 0">
                            <div class="group-heading">Information</div>
                            <div class="group-body">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="qu in infoQuoteMessages ">{{qu.message}}
                                        <span style="display:none">{{qu}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="row" ng-if="errorQuoteMessages.length > 0">
                            <div class="group-heading">Errors</div>
                            <div class="group-body">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="qu in errorQuoteMessages | orderBy:'message' ">{{qu.message}}
                                        <span style="display:none">{{qu}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" ng-show="quoteStatus == QuoteStatus.FORM_INCOMPLETE">

                                <p class="text-danger text-left" tooltip="{{requiredFieldList}}" style="width: 380px;">
                                    Some fields are still required.<br>
                                    Please complete all required fields to complete the quote.
                                </p>
                            </div>

                        </div>

                    </div>
                </div>

            </nav>

        </div>

    </div>
</form>

</div>
